<div class="login">
  <div class="container">
  <h2 class="text-center mt-3">
    log in
  </h2>
 
    <form #f="ngForm" (ngSubmit)="login(f)">

    <input ngModel #email="ngModel" name="email" type="email" 
    class="form-control mt-4" placeholder="Email" required email>
    <div class="alert alert-danger mt-1" *ngIf="email.touched && email.errors?.required">email is required</div>
    <div class="alert alert-danger mt-1" *ngIf="email.touched && email.errors?.email">your inupt dosen't match any email format</div>

    <input ngModel #password="ngModel" name="password" type="password"  
    class="form-control mt-4" placeholder="password" required minlength="6">
    <div class="alert alert-danger mt-1" 
    *ngIf="password.touched && password.errors?.required">password is required</div>
    <div class="alert alert-danger mt-1" 
    *ngIf="password.touched && password.errors?.minlength">minlength should be 6 numbers</div>

    <button class="btn btn-primary mt-4" [disabled]="f.invalid"
    >login</button>
    </form>
  </div>


</div>